/* Headings, Call-to-actions, Header Navigation */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* font-family: 'Raleway', sans-serif; */
/* Body */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* font-family: 'Open Sans', sans-serif; */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Main CSS Code */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 5px 60px 90px;
}

#navList {
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

#navList a {
  font-size: 1.15rem;
  text-decoration: none;
  color: #585989;
  padding: 20px 20px 20px 40px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

#files-flexContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 15px 180px 15px;
  /* border: 1px solid black; */
}

.content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  padding: 10px 20px 10px 10px;
  margin: -25px 25px 0px 65px;
  width: 50%;
  height: auto;
}

.content-1 h1 {
  font-size: 2.75rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

.content-1 p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #070439;
  line-height: 1.3;
  margin: 0px 0px 12px 0px;
}

.email {
  padding: 15px 0px 15px 0px;
}

.email #email {
  border: 2px solid blue;
  padding: 13px 140px 13px 15px;
  border-radius: 4px;
}

.email a {
  padding: 15px 70px 15px 70px;
  margin: 0px 0px 0px 15px;
  color: white;
  background: #3065f8;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid skyblue;
  border-radius: 5px;
}

.imgBox {
  width: 50%;
  height: auto;
  margin: 0px 10px 0px 0px;
}

#productive-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px 110px 50px;
  /* border: 1px solid black; */
  background: #f6f6fe;
}

.content-2 {
  width: 50%;
  height: auto;
  /* border: 1px solid black; */
}

.content-2 h2 {
  font-size: 2.75rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.content-2 p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #070439;
  line-height: 1.5;
  margin: 0px 120px 15px 0px;
}

.content-2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  margin: 0px 0px 50px 0px;
  text-decoration: underline;
  color: #3c9f8f;
}

.content-2 a img {
  margin: 0px 0px 0px 5px;
}

#card {
  /* border: 1px solid black; */
  width: 390px;
  height: 240px;
  padding: 35px 40px 20px 40px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
}

#card img {
  width: 5.5%;
}

#card .fylop {
  font-size: 15px;
  margin: 10px 0px 7px 0px;
  line-height: 1.6;
}

#profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile img {
  width: 11%;
  border-radius: 100%;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: 7px;
  right: 35px;
}

.details h3 {
  font-size: 0.75rem;
  font-weight: bold;
}

.details .founder {
  font-size: 10px;
}

.imgBox2 {
  margin: -45px 0px 0px 0px;
  width: 40%;
  height: auto;
  /* border: 1px solid black; */
}

#access-today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #585989;
  padding: 110px 60px 80px 85px;
  width: 100%;
}

.content-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 50%;
  height: auto;
  /* border: 1px solid black; */
  padding: 0px 80px 20px 0px;
}

.content-3 h4 {
  font-size: 2.2rem;
  font-weight: 600;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0px 0px 15px 0px;
}

.content-3 p {
  font-size: 1.2rem;
  color: white;
  opacity: 0.8;
  line-height: 1.4;
}

.email-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /* border: 1px solid black; */
}

.email-2 #email-2 {
  border: 2px solid blue;
  padding: 14px 320px 14px 15px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
}

.email-2 a {
  padding: 15px 40px 15px 40px;
  margin: 15px 0px 20px 0px;
  color: white;
  background: #3065f8;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  -webkit-box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 115px 50px 60px 50px;
  background: #070439;
}

#head img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 100%;
  margin: 0px 0px 24px 35px;
}

#footer-container {
  width: 100%;
  /* border: 1px solid white; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*     border: 1px solid white; */
  margin: 0px 0px 10px 35px;
}

.contact-Us, .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 17px 0px;
}

.contact-Us a img, .mail a img {
  padding: 0px 22px 0px 5px;
}

.contact-Us p, .mail p {
  font-size: 18px;
  color: white;
}

#links {
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  right: 40px;
}

.link-1 {
  /* border: 1px solid white; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.link-1 a {
  color: white;
  text-decoration: none;
  padding: 0px 5px 17px 0px;
  font-size: 17px;
  /* border: 1px solid white; */
  width: 100%;
  position: relative;
  right: 115px;
}

.link-2 {
  /*     border: 1px solid white; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.link-2 a {
  color: white;
  text-decoration: none;
  padding: 0px 5px 17px 0px;
  /* border: 1px solid white; */
  width: 100%;
  font-size: 17px;
  position: relative;
  left: 105px;
}

#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: 1px solid white; */
  position: relative;
  right: 150px;
}

#social a {
  padding: 5px 10px 5px 5px;
}

#social a img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 40px;
}
/*# sourceMappingURL=main.css.map */