// Google Fonts
/* Headings, Call-to-actions, Header Navigation */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */

/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

// Partials Files 
@import "_cssreset";

// Mixing Codes
// Flex-Box Mixing Code
@mixin flex-box($dir, $jc, $alI) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $alI;
}

/* Main CSS Code */
body{
    @include flex-box(column, center, flex-start);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif; 
    border: 1px solid black;
    // background-color: orange;
}

header{
    width: 100%;
    @include flex-box(row, space-between, center);
    padding: 70px 0px 70px 85px;
    border: 1px solid black;
}

#headerImg{
    width: 50%;
    border: 1px solid black;
    img{
        width: 26%;
    }
}
#navList{
    /* border: 1px solid black; */
    @include flex-box(row, flex-end, flex-start);
    border: 1px solid black;
    width: 50%;
    a{
        font-size: clamp(1rem, 10vw, 1.1rem);   
        text-decoration: none;
        color: hsl(238, 22%, 44%);
        padding: 5px 20px 5px 40px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        border: 1px solid black;
        position: relative;
    }
}

#files-flexContainer{
    width: 100%;
    @include flex-box(row, space-around, center);
    padding: 25px 15px 180px 15px;
}
.content-1{
    @include flex-box(column, space-between, space-between);
    padding: 10px 20px 10px 10px;
    margin: -25px 25px 0px 60px;
    width: 50%;
    height: auto;
    h1{
        font-size: clamp(0.95rem, 10vw, 2.79rem);     
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin: 0px 0px 15px 0px;
    }
    p{
        font-size: clamp(1rem, 10vw, 1.25rem);    
        font-family: 'Open Sans', sans-serif;
        color:  hsl(243, 87%, 12%);
        line-height: 1.3;
        margin: 0px 0px 12px 0px;
    }
}

.email{
    padding: 15px 0px 15px 0px;
    #email{
        border: 2px solid blue;
        padding: 13px 140px 10px 15px;
        border-radius: 4px;
    }
    a{
        padding: 15px 70px 11px 70px;
        margin: 0px 0px 0px 15px;
        color: white;
        background: hsl(224, 93%, 58%);
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid skyblue;
        border-radius: 5px;
        box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
    }
}

.imgBox{
    width: 50%;
    height: auto;
    margin: 0px 10px 0px 0px;
}

#curved{
    width: 100%;
    background: url(../images/bg-curve-desktop.svg) no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 10vw;
    min-height: 12vh;
}
#productive-container{
    width: 100%;
    @include flex-box(row, space-around, center);
    padding: 100px 0px 110px 50px;
    background: hsl(240, 75%, 98%);
}

.content-2{
    width: 50%;
    height: auto;
    h2{
        font-size: clamp(1rem, 10vw, 2.8rem);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin: -15px 0px 31px 0px;
    }
    .para{
        font-size: clamp(1rem, 10vw, 1.14rem);
        font-family: 'Open Sans', sans-serif;
        color:  hsl(243, 87%, 12%);
        line-height: 1.5;
        margin: 0px 120px 15px 0px;
    }
    a{
        @include flex-box(row, flex-start, center);
        font-size: 19px;
        margin: 0px 0px 50px 0px;
        text-decoration: underline;
        color: hsl(170, 45%, 43%);

        img{
            margin: 0px 0px 0px 5px;
        }
    }
}

#card{
    /* border: 1px solid black; */
    width: 390px;
    height: 240px;
    padding: 35px 40px 20px 40px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
    img{
        width: 5.5%;
    }
    .fylop{
        font-size: clamp(0.9rem, 10vw, 0.95rem);
        margin: 10px 0px 17px 0px;
        line-height: 1.6;
    }
}

#profile{
    @include flex-box(row, space-between,center);
    img{
        width: 11%;
        border-radius: 100%;
    }
}
.details{
    @include flex-box(column,flex-end,flex-start);
    position: relative;
    top: 0px;
    right: 152px;
    h3{
        font-size: 0.75rem;
        font-weight: bold;
    }
    .founder{
        font-size: 10px;
    }
}

.imgBox2{
    margin: -45px 0px 0px 0px;
    width: 40%;
    height: auto;
}

#access-today{
    @include flex-box(row, space-between, center);
    background :hsl(238, 22%, 44%);
    padding: 110px 60px 80px 85px;
    width: 100%;
}

.content-3{
    @include flex-box(column, flex-start, baseline);
    width: 50%;
    height: auto;
    padding: 0px 80px 20px 0px;
    h4{
        font-size: clamp(1rem, 10vw, 2.21rem);
        font-weight: 600;
        color: white;
        font-family: 'Raleway', sans-serif; ;
        margin: 0px 0px 15px 0px;
    }
    p{
        font-size: clamp(1rem, 10vw, 1.2rem);
        color: white;
        opacity: 0.8;
        line-height: 1.4;
    }
}
.email-2{
    @include flex-box(column, flex-start, baseline);
    #email-2{
        border: 2px solid blue;
        padding: 14px 320px 14px 20px;
        border-radius: 4px;
        box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
    }
    a{
        padding: 15px 40px 15px 40px;
        margin: 15px 0px 20px 0px;
        color: white;
        background: hsl(224, 93%, 58%);
        text-align: center;
        text-decoration: none;
        font-size: clamp(1rem, 10vw, 1rem);
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 2px 0px 11px rgba(0, 0, 0, 0.5);
    }
}

footer{
    width: 100%;
    @include flex-box(column, flex-start, flex-start);
    padding: 115px 50px 60px 50px;
    background: hsl(243, 87%, 12%);
}

#head{
    width: 100%;
    border: 1px solid white;
    img{
        filter:  brightness(0) invert(1);
        width: 14%;
        margin: 0px 0px 24px 35px;
    }
}
#footer-container{
    width: 100%;
    @include flex-box(row, space-between, flex-start);
}

.contact{
    border: 1px solid white;
    @include flex-box(column, flex-start, flex-start);
    margin: 0px 0px 10px 35px;
}

.contact-Us, .mail{
    border: 1px solid white;
    @include flex-box(row, center, center);
    padding: 0px 0px 17px 0px;
    a{
        img{
            padding: 0px 22px 0px 5px;
        }
    }
    p{
        font-size: 18px;
        color: white;
    }
}

#links{
    border: 1px solid white;
    @include flex-box(row, space-between, flex-start);
    position: relative;
    right: 40px;
}

.link-1{
    border: 1px solid white;
    @include flex-box(column, space-between, baseline);
    a{
        color: white;
        text-decoration: none;
        padding: 0px 5px 17px 0px;
        font-size: 17px;
        width: 100%;
        position: relative;
        right: 115px;
    }
}

.link-2{
    border: 1px solid white;
    @include flex-box(column, space-between, baseline);
    a{
        color: white;
        text-decoration: none;
        padding: 0px 5px 17px 0px;
        width: 100%;
        font-size: 17px;
        position: relative;
        left: 105px;
    }
}

#social{
    border: 1px solid white;
    @include flex-box(row, space-around, center);
    position: relative;
    right: 150px;
    a{
        padding: 5px 10px 5px 5px;
        img{
            filter:  brightness(0) invert(1);
            width: 40px;
        }
    }
}

@media screen and (max-width: 1390px) {
    header{
        padding: 60px 20px 60px 80px;
        transition: 0.3s;
    }
    #head{
        margin: 0px 0px 20px 0px;
        transition: 0.3s;
    }
    #files-flexContainer{
        transition: 0.4s;
        padding: 80px 50px 40px 0px;
    }
    .email{
        @include flex-box(column, flex-start, flex-start);
        transition: 0.3s;
        #email{
            margin: 0px 0px 10px 0px;
            transition: 0.3s;
        }
        a{
            align-self: flex-start;
            margin: 10px 0px 15px 0px;
        }
    }
    footer{
        padding: 100px 10px 100px 10px;
    }
    #footer-container{
        @include flex-box(column, flex-start, flex-start);
        transition: 0.3s;
        width: 100%;
    }

    #links{
        @include flex-box(column, center, center);
        position: relative;
        right: 0px;
        transition: 0.3s;
        width: 100%;

        .link-1{
            margin: 20px 0px 30px 0px;
            transition: 0.3s;
            width: 100%;
            a{
                right: -35px;
            }
        }
        .link-2{
            margin: 0px 0px 50px 0px;
            transition: 0.3s;
            width: 100%;
            a{
                left: 39px;
            }
        }
    }
    #social{
        width: 100%;
        @include flex-box(row, center, center);
        transition: 0.3s;
        right: 0px;
        a{
            padding: 0px 20px 0px 0px
        }
    }
}

@media all and (max-width: 1150px) {
    header{
        padding-left: 30px;
        padding-right: 10px;
    }
    #files-flexContainer{
        @include flex-box(column-reverse, center, center);
        padding: 0px 0px 50px 0px;
        width: 100%;
        /* border: 1px solid black; */
        transition: 0.3s;
    }
    .email{
        padding: 10px 20px 10px 20px;
        #email{
            width: 100%;
        }
        a{
            width: 100%;
        }
    }
    .content-1{
        @include flex-box(column, center, center);
        /* border: 1px solid black; */
        width: 100%;
        margin: 25px auto;

        h1{
            text-align: center;
            width: 100%;
        }
        p{
            padding: 10px 20px 10px 20px;
            text-align: center;
            width: 100%;
            /* border: 1px solid black; */
        }
    }
    .email{
        @include flex-box(column, center, center);
        /* border: 1px solid black; */
        width: 100%;
        a{
            margin: 10px auto;
        }
    }
    .imgBox{
        width: 100%;
        padding: 0px 100px 50px 100px;
    }

    #productive-container{
        @include flex-box(column-reverse, center, center);
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
    }
    .content-2{
        @include flex-box(column, center, center);
        width: 100%;
        margin: 25px auto;
        padding: 20px 20px 50px 20px;
        /* border: 1px solid black; */
        h2{
            text-align: center;
            margin: 10px auto;
            width: 100%;
        }
        .para{
            margin: 10px auto; 
            width: 100%;
            padding: 10px 20px 10px 20px;
        }
        a{
            margin: 30px 0px 50px 0px;
        }
    }
    .imgBox2{
        /* border: 1px solid black; */
        width: 100%;
        padding: 0px 100px 50px 100px;
        position: relative;
        top: -70px;
    }
    .details{
        @include flex-box(column,center,flex-start);
        /* border: 1px solid black; */
        margin: 10px 0px 0px 0px;
        p{
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 10px 0px;
        }
    }
    #access-today{
        width: 100%;
        padding: 100px 15px 100px 15px;
        /* border: 1px solid black; */
        @include flex-box(column,center, center);
    }
    .content-3{
        @include flex-box(column,center,center);
        width: 100%;
        /* border: 1px solid black;  */   
        padding: 10px 10px 20px 10px;
        h4{
            text-align: center;
        }
        p{
            text-align: center;
            padding: 10px 20px 10px 20px;
        }
    }
    .email-2{
        /* border: 1px solid black; */
        width: 100%;
        padding: 10px 20px 10px 20px;

        #email-2{
            margin: 15px auto;
            padding: 14px 10px 14px 10px;
            width: 100%;
        }
        a{
            /* border: 1px solid black; */
            margin: 0px auto;
            padding: 14px 10px 14px 10px;
            width: 100%;
        }
    }
}
/* @media all and (max-width: 400px) {
    #headerImg{
        img{
            width: 50%;
        }
    }
    #navList{
        a{
            font-size: 2vw;
        }
    }
} */